<p>Comments
<div ng-repeat="comment in comments" class="container jumbotron">
	<div class="row">
		<strong> {{comment.user.username}} </strong> :
		<span class="pull-right"> {{comment.date_created.substring(0,10)}}</span>
		<div class="pull-right" ng-show="isMyComment(comment.user.username)">
			<span ng-show="showDeleteComment && isDeleteComment(comment.id)">
				<span class="text-danger"> Êtes-vous sûr? </span> <span ng-click="deleteComment(comment.id)" class="underline-hover">Yes</span><span class="text-danger">/</span>&nbsp <span class="underline-hover" ng-click="showDelete(comment.id)">No</span>
			</span>
			<span class="glyphicon glyphicon-remove" ng-click="showDelete(comment.id)" ng-hide="showDeleteComment && isDeleteComment(comment.id)" > </span>
			<span class="glyphicon glyphicon-pencil" ng-click="showEdit(comment.id)" > </span>
		</div>
	</div>
	<div class="row">
		{{ comment.body }}

		<form ng-show="showEditComment && isEditComment(comment.id)">
			<br>
			<p> Éditer votre commentaire
			<textarea type="text" class="form-control" name="name" ng-model="commentEdit" ng-init="commentEdit=comment.body" required> </textarea>
			<button type="submit" id="submitButton" class="btn btn-primary pull-right" ng-click="editComment(comment.id, commentEdit, omdbid)">Envoyer</button>
			<br>
			<div class="pull-right">
				<span ng-class="{'text-danger': commentEdit.length>characterLimit}">{{commentEdit.length}}</span><span ng-show="!!!commentEdit.length">0</span><span>/{{characterLimit}} </span>
			</div>
		</form>
	</div>

	</div>
</div>
<div ng-show="!!!comments.length">Aucun commentaire trouvé.</div>
<br>

