<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<form name="signInForm" ng-model="form" novalidate ng-hide="sentForm">
		<div class="alert alert-danger" ng-show="invalidLogin">
			<strong>Erreur!</strong> Connexion impossible. Veuillez vérifier votre adresse e-mail et votre mot de passe.
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Adresse courriel: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="email" class="form-control" name="userEmail" ng-model="signIn.email" required />
				<div class="help-block text-center control-group error">
					<p id="emptyEmailError" ng-show="signInForm.userEmail.$error.required && signInForm.userEmail.$dirty">L'adresse courrielle est requise. </p>
					<p id="invalidEmailError" ng-show="signInForm.userEmail.$error.email && signInForm.userEmail.$dirty">L'adresse courrielle est invalide. </p>
				</div>
			</div>
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}' >
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">
				Mot de passe: 
			</label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="password" class="form-control" name="userPassword" ng-model="signIn.password" ng-minlength="3" required />
				<div class="help-block text-center">
					<p id="emptyPasswordError" ng-show="signInForm.userPassword.$error.required && signInForm.userPassword.$dirty">Le mot de passe est requis.</p>
					<p id="invalidPasswordError" ng-show="signInForm.userPassword.$error.minlength && signInForm.userPassword.$dirty">Le mot de passe doit avoir au moins 3 caractères.</p>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-lg-12">
				<button type="submit" id="submitButton" class="btn btn-primary pull-right" ng-disabled="signInForm.$invalid" ng-click="sendForm()">Envoyer</button>
				<span class="glyphicon glyphicon-warning-sign pull-right" uib-popover="Veuillez tout remplir correctement." popover-trigger="mouseenter" ng-show="signInForm.$invalid"> </span>
			</div>
		</div>
	</form>
</div>