<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<form name="signUpForm" ng-model="form" novalidate ng-hide="sentForm">
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Nom d'utilisateur: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="text" class="form-control" name="userName" ng-model="user.userName" required />
				<p id="emptyUserNameError" class="help-block text-center" ng-show="signUpForm.userName.$error.required && signUpForm.userName.$dirty">Le nom d'utilisateur est requis.</p>
			</div>
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Prénom: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="text" class="form-control" name="name" ng-model="user.name" required />
				<p id="emptyNameError" class="help-block text-center" ng-show="signUpForm.name.$error.required && signUpForm.name.$dirty">Le prénom est requis.</p>
			</div>
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Nom de famille: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="text" class="form-control" name="userFamilyName" ng-model="user.familyName" required />
				<p id="emptyFamilyNameError" class="help-block text-center" ng-show="signUpForm.userFamilyName.$error.required && signUpForm.userFamilyName.$dirty">Le nom de famille est requis.</p>
			</div>
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Adresse courriel: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="email" class="form-control" name="userEmail" ng-model="user.email" required />
				<div class="help-block text-center control-group error">
					<p id="emptyEmailError" ng-show="signUpForm.userEmail.$error.required && signUpForm.userEmail.$dirty">L'adresse courrielle est requise. </p>
					<p id="invalidEmailError" ng-show="signUpForm.userEmail.$error.email && signUpForm.userEmail.$dirty">L'adresse courrielle est invalide. </p>
				</div>
			</div>
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}' >
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">
				Mot de passe: 
				<span class="glyphicon glyphicon-question-sign" uib-popover="Minimum de 3 caractères" popover-trigger="mouseenter"> </span>
			</label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="password" class="form-control" name="userPassword" ng-model="user.password" ng-minlength="3" required />
				<div class="help-block text-center">
					<p id="emptyPasswordError" ng-show="signUpForm.userPassword.$error.required && signUpForm.userPassword.$dirty">Le mot de passe est requis.</p>
					<p id="invalidPasswordError" ng-show="signUpForm.userPassword.$error.minlength && signUpForm.userPassword.$dirty">Le mot de passe doit avoir au moins 3 caractères.</p>
				</div>
			</div>
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Confirmer le mot de passe: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="password" class="form-control" name="userPasswordConfirm" ng-model="user.passwordConfirm" required compare-to="user.password"/>
				<p id="passwordNotMatchError" class="help-block text-center" ng-show="signUpForm.userPasswordConfirm.$invalid && signUpForm.userPasswordConfirm.$dirty">Veuillez confirmer le mot de passe.</p>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-lg-12">
				<button type="submit" id="submitButton" class="btn btn-primary pull-right" ng-disabled="signUpForm.$invalid" ng-click="sendForm()">Envoyer</button>
				<span class="glyphicon glyphicon-warning-sign pull-right" uib-popover="Veuillez tout remplir correctement." popover-trigger="mouseenter" ng-show="signUpForm.$invalid"> </span>
			</div>
		</div>
	</form>
	<div class="alert alert-success text-center" ng-show="sentForm" id="successMessage">
	  <strong>Inscription terminée!</strong> Merci {{user.name}} de vous être inscrit.
	</div>
</div>
