<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<form name="contactForm" novalidate ng-hide="sentForm" ng-model="form">
		<div class="alert alert-danger" ng-show="invalidLogin">
			<strong>Erreur!</strong> Il y a eu une erreur lors de l'envoi de votre message. Confirmez vos informations et réessayez plus tard.
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Votre nom: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="text" class="form-control" name="contactName" ng-model="contact.name" required autofocus/>
				<p id="emptyNameError" class="help-block text-center" ng-show="contactForm.contactName.$error.required && contactForm.contactName.$dirty">Le nom d'utilisateur est requis.</p>
			</div>
		</div>
		<div class="form-group row" show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Adresse courriel: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<input type="email" class="form-control" name="contactEmail" ng-model="contact.email" required />
				<div class="help-block text-center">
					<p id="emptyEmailError" ng-show="contactForm.contactEmail.$error.required && contactForm.contactEmail.$dirty">L'adresse courriel est requis. </p>
					<p id="invalidEmailError"ng-show="contactForm.contactEmail.$error.email && contactForm.contactEmail.$dirty">L'adresse courriel est invalide. </p>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Sujet du message: </label>
			<div class="col-xs-12 col-sm-6 col-lg-8">
				<select class="form-control col-xs-12 col-sm-6 col-lg-8" name="contactReason" ng-model="contact.reason">
					<option ng-repeat="type in contactType" value="{{type.name}}">
						{{type.name}}
					</option>
				</select>
			</div>
		</div>

		<div class="form-group row " show-errors='{showSuccess: true}'>
			<label class="control-label col-xs-12 col-sm-6 col-lg-4">Votre message: </label>
			<div class="col-xs-12 col-sm-12 col-lg-12">
				<textarea rows="4" class="form-control" name="message" ng-model="contact.message" required />
				<p id="emptyMessageError" class="help-block text-center" ng-show="contactForm.message.$error.required && contactForm.message.$dirty">Le message est requis.</p>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-lg-12">
				<button id="submitButton" type="submit" class="btn btn-primary pull-right" ng-disabled="contactForm.$invalid" ng-click="sendForm()">
					Envoyer
				</button>
				<span class="glyphicon glyphicon-warning-sign pull-right" uib-popover="Veuillez tout remplir correctement." popover-trigger="mouseenter" ng-show="contactForm.$invalid"> </span>
			</div>
		</div>
		<br>
	</form>
	<div class="alert alert-success text-center" ng-show="sentForm" id="successMessage">
	  <strong>Message envoyé!</strong> Merci {{contact.name}} d'avoir envoyé votre message.
	</div>
</div>