<div ng-include="'components/navbar/navbar.html'"></div>

<div class = "container">
  <div class="jumbotron">
    <h2 style="text-align: center">Votre liste de lecture</h2>
  </div>
</div>



<div class = "container">

  <div class="jumbotron">
    <div class="container">

      <p>Entrez le nom du film que vous voulez ajouter :</p>
      <input class="ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="filter" ng-change="Search()" id="keywordInput" ng-model-options="{ debounce: 300 }" autofocus/>
    </div>
    <br>

    <div class="container" id="searchResult" ng-show="isSearch" ng-model="searchResult">
      <div class = "row">
        <div ng-repeat="movie in movies | limitTo: 6">
          <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
            <div class="thumbnail"  style="min-height: 455px;">
              <p style="font-size: medium" class="text-center">{{movie.Title}}</p>
              <img src="{{movie.Poster}}" width="75%" height="75%">
              <br>
              <button type="submit" id="addButton" class="btn btn-primary center-block" ng-click="addMovie(movie)">Ajouter</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


    <div class="jumbotron">
      <p>Vos films :</p>
      <div class="container" id="playlistMovies">

        <div class = "row">
          <div ng-repeat="movie in omdbMoviesInPlaylist">
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" style ="display: {{movie.isInTheList}}">
              <div class="thumbnail"  style="min-height: 455px;">
                <p style="font-size: medium" class="text-center">{{movie.Title}}</p>
                <img src="{{movie.Poster}}" width="75%" height="75%">
                <br>
                <button type="submit" style="background-color: {{movie.statusColor}}" id="WatchedButton" class="btn btn-primary center-block" ng-click="updateMovie(movie)"><i class="fa fa-eye fa-lg"></i> Vue</button>

                <br>
                <button type="submit" style="background-color: red" id="deleteButton" class="btn btn-primary center-block" ng-click="deleteMovie(movie)">Suprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
